{% apply inky_to_html %}
 <container>
   <row>
     <columns small="12" large="6">
       <h1>Bienvenue !</h1>
       <p>Merci de vous être inscrit à notre service. Nous sommes ravis de vous compter parmi nos utilisateurs.</p>
     </columns>
     <columns small="12" large="6">
       <img src="https://example.com/logo.png" alt="Logo de notre entreprise">
     </columns>
   </row>
 </container>
{% endapply %}